h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

/*table {
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid gray;
  padding: 1em;
}

td {
  vertical-align: top;
}*/
