<table>
    <caption>Found {{found.items.length}} item(s)</caption>
    <tr>
        <th>Ord.</th>
        <th>Title</th>
        <th>Code</th>
        <th>Description</th>
        <th>Remove</th>
    </tr>
    <tr ng-repeat="item in found.items">
        <td>{{$index + 1}}.</td>
        <td>{{item.name}}</td>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td><button class="btn btn-primary" ng-click="found.onRemove({index: $index})">Don't Want</button></td>
    </tr>
</table>
